.companySection {
  padding: 4rem 0;
  position: relative;
  background-color: #f9f9f9;
}

.titleWrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.sectionTitle {
  color: #7c43f4;
  line-height: 1;
  font-weight: 300;
  font-size: 1.2rem;
}

.sectionDescription {
  margin-top: 2rem;
  color: #111;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;
  position: relative;
  text-align: left;
  transition: opacity 1s ease, transform 1s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
}

/* 모바일 스타일 */
@media (max-width: 768px) {
  .sectionDescription {
    font-size: 1.5rem;
  }
  
  .mobileOnly {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobileOnly {
    display: none;
  }
} 